.H_container {
  width: 90%;
  margin: 0 auto;
}

.H_header--top {
  background: rgb(29, 113, 171);
  display: flex;
  align-items: center;
}

.H_header--top ul {
  list-style-type: none;
  float: right;
  margin: 0;
}

.H_header--top ul li {
  float: left;
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.H_header--top ul li:hover {
  background: #2e89c7;
}

.H_header--top_ic {
  color: #fdcb6e;
  margin-right: 5px;
  font-size: 20px;
}

/* .H_header_dropdown {
  position: relative;
  z-index: 2;
  right: 0;
} */

.H_saleLis--toggle {
  width: 500px;
  padding: 15px;
  background: #fff;
  box-shadow: 2px 0 8px 0 #797979;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  z-index: 2;
  right: 0;
}

.H_saleLis_Left {
  width: 60%;
  margin-right: 5%;
  float: left;
}

.H_saleLis_right {
  float: right;
  width: 35%;
}

.H_saleLis_right img {
  width: 100%;
}

.H_header {
  background: rgb(24, 158, 255);
  padding-top: 15px;
  padding-bottom: 10px;
}

.H_header h1 {
  height: 50px;
  width: 150px;
}